h1,
h4 {
    color: var(--color-white);
}

.list-group-custom {
    border-radius: 0;
}

.list-group-item {
    background: var(--color-orange);
    border: 1px solid var(--color-white);
    color: var(--color-white);
    text-transform: uppercase;
}

.list-group-item:hover {
    background: var(--color-dark);
    color: var(--color-orange);
    transform: scale(1.03);
}

.list-group-item.active {
    color: var(--color-dark);
    background-color: var(--color-white);
    border-color: var(--color-white);
    font-size: 1.1rem;
    transform: scale(1.03);
}

.box-ingredients {
    border: 1px solid var(--color-white);
    padding: 0px 15px;
    border-radius: 5px;
}

.box-ingredients h5 {
    margin: 1rem 0;
    text-transform: uppercase;
    font-size: 1rem;
}

.box-price {
    background: var(--color-orange);
    height: 220px;
    width: 220px;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px !important;
    margin: auto;
}