@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300;400;500&family=Questrial&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-light: #c8c8c8;
  --color-orange: #e66b05;
  --color-dark: #383838;
  --color-white:#fff;
  --color-yellow:rgb(255, 230, 0);
}

body {
  background: var(--color-dark);
  color: var(--color-orange);
  font-family: 'Questrial', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arima', cursive;
}

.btn-custom {
  color: var(--color-dark);
  background: var(--color-orange);
  border: 1px solid var(--color-orange);
  border-radius: 0;
}

.btn-custom:hover {
  color: var(--color-orange);
  background: var(--color-dark);
  border-radius: 0;
  border: 1px solid var(--color-light);
}

.btn-custom-2 {
  color: var(--color-orange);
  background: var(--color-dark);
  border-radius: 0;
}

.btn-custom-2:hover {
  color: var(--color-dark);
  background: var(--color-orange);
  border-radius: 0;
  border: 1px solid var(--color-light);
}